* {
    margin: 0;
    padding: 0;
    }
body{
    background: #E5E5E5;
    font-family: Fira Sans;

} 
h1, h2{
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -0.02em;

}   
h1{
    font-size: 45px;
    line-height: 100%;
}
h2{
    font-size: 32px;
    line-height: 41px;
}
p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

}
.main-block{
    max-width: 1002px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.section-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "box-1 box-2" "box-1 box-3";
}
.section-1 .box-1{
    grid-area: box-1;
    height: 544px;
    background: #C7DDEA;
    display: flex;
    flex-direction: column;
    background-image: url(../img/family.png);
    background-position:right bottom;
    background-repeat: no-repeat;
    background-size: 286px 279px;
}
.section-1 .box-2{
    grid-area: box-2;
    background: #F17949;
}
.section-1 .box-3{
    grid-area: box-3;
    background: #FAB131;
}
.box1-med-img{
    margin: 71px 17px 0 105px;
    display: flex;
    flex-direction: column;
}
.section-1 h1, .section-3 h1{
    max-width: 314px;
    color: #000000;
}
.section-1 p{
    max-width: 268px;
}
.section-1 p , .section-3-box-2 p{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.section-1 p span {
    color: white;
}
button{
    width: 131px;
    height: 39px;
    margin-top: 58px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}
.box-2, .box-3, .box-2 .item, .box-3 .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.box-2 .item, .box-3 .item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-2 p, .box-3 p{
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.5);
    height: 17px;
}
.box-2 h2, .box-3 h2{
    color: #FFFFFF;
}
nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    color: #000000;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    opacity: 0.4;
    width: 167px;
}
nav a.active {
    opacity: 1;
}

.section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "section-3-box-1 section-3-box-2" "section-3-box-3 section-3-box-3";
    background: #A9A19E;
    height: 612px;
}
.section-3-box-1{
    grid-area: section-3-box-1;
    margin: 103px 0 0 107px;
}
.section-3-box-2{
    grid-area: section-3-box-2;
}
.section-3-box-3{
    grid-area: section-3-box-3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.insurance-type{
    display: flex;
    flex-direction: row ;
    justify-content: center;
}
.section-3 h1{
    color: #FFFFFF;
    margin-right: 10px;
}

.section-3-box-2 p{
    max-width: 280px;
    height: 237px;
    margin: 103px 129px 87px 0 ;
}

.insurance-type{
    position: absolute;
    height: 308px;
    z-index: 100;
    margin-top: -80px;
}
.type-box {
    max-width: 256px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 13.5px;
}

.type-box p {
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    margin: 0 22px 27px 22px;
}
.type-box h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;    
    text-align: center; 
    color: rgba(0, 0, 0, 0.9);
}
.profile-img {
    height: 125px;
    overflow: hidden;
    padding-top: 2rem;
    margin: 1rem;
    margin-top: -2rem;
}
.img-1 {
    background: #C7DDEA;
    border-radius: 4px;
}
.img-2 {
    background: #FAB131;
    border-radius: 4px;

}
.img-3 {
    background: #F17949;
    border-radius: 4px;
}
.imageSize1 {
    width: 80px;

}
.imageSize2 {
    width: 90px;

}
.imageSize3 {
    width: 120px;

}
.aboutUs{
    background: #FAB131;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 187px;
    padding-bottom: 101px;
}
.aboutUs h1{
    max-width: 314px;
    height: 101px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.aboutUs p{
    max-width: 442px;
    line-height: 20px;    
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}


.Kalendar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "how-info info-box1 info-box2" "info-box3 info-box4 info-box5";
}


.small-box {
    background-color: black;
    height: 340px;
    align-items: center;
    text-align: center;
    display: flex;
}
.small-box span {
    position: absolute;
    align-self: flex-start;
    margin: 1rem;
    font-weight: 900;
    font-size: 35px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.4);
}
.small-box h1 {
    width: 100%;
    line-height: 100%;
}
.small-box p {
    width: 100%;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
.how-info {
    background: #C7DDEA;
    font-weight: 900;
    font-size: 130%;
    line-height: 100%;
    grid-area: how-info;
}


.info-box1 {
    background: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    grid-area: info-box1;
}

.info-box2 { 
    background: #EBEBEB;
    grid-area: info-box2;
}

.info-box3 {
    background: #FFFFFF;
    grid-area: info-box3;
}

.info-box4 {
    background: #F17949;
    grid-area: info-box4;
}

.info-box5 {
    background: #FFFFFF;
    grid-area: info-box5;
}
.take-to-top{
    grid-column: auto / span 6;
    height: 68px;
    background: #A9A19E;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.take-to-top a{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    margin-top: 3rem;
}
footer{
height: 340px;
background: #777574;
}

